html, body {
	background-color: #F4F6F6;
	font-family: 'Montserrat';
	margin: 0;
}
input, textarea{
	width: 100%;
    line-height: 40px;
    font-family: 'Montserrat';
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #EAEDED;
    background-color: #F8F9F9;
    box-sizing: border-box;
	border-radius: 6px;
}

textarea {
	resize: none;
	height: 200px;
}

.fixed-container{
	display: flex;
	gap: 20px;
	align-items: top;
	justify-content: center;
}

.fixed-container > div{
	width: 470px;
}

.addNewTodoForm{
	background-color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 16px;
}


.addNewTodoForm label {
	color: #797D7F;
}

button {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	border-radius: 4px;
	width: 200px;
	padding: 0.8rem;
	font-size: 12pt;
	background-color: #000000;
	color: white;
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

button, button:active, button:focus {
    outline: none;
}

.todo {
	background-color: rgb(255, 255, 255);
	padding: 1.5rem;
	border-radius: 16px;
}

.todo-header h3{
	flex-grow: 1;
	margin: 0;
}

.todos{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.todoLogo{
	display: flex;
	align-items: center;
	gap: 5px;
}

.todoLogo img{
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.todo-header {
	display: flex;
	align-items: center;
}

.todo-header > div {
	padding: 4px 0 0 ;
	cursor: pointer;
}

.error {
	border-color: #B03A2E;
}