html, body {
	background-color: #F5F5F5;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

h2{
	margin: 0;
	color: black;
}

input{
    font-size: 16pt;
    border: 1px solid #ebebeb;
    background-color: #F8F9F9;
	padding: 0.5rem;
}

input:focus-visible{
	outline: 2px solid black;
}

select{
	font-size: 14pt;
}

.fixed-container{
	display: flex;
	gap: 20px;
	align-items: top;
	justify-content: center;
	
}

.fixed-container > div{
	width: 470px;
}

.addNewTodoForm{
	background-color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 16px;
	position: absolute;
	left: 0;
	right: 0;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addNewTodoForm label {
	color: #797D7F;
}

button {
	display: flex;
	gap: 10px;
	justify-content: center;
	border-radius: 4px;
	width: 200px;
	padding: 0.8rem;
	font-size: 12pt;
	background-color: #383838;
	color: white;
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	cursor: pointer;
	margin: 0 auto;
}


.todo {
	background-color: rgb(255, 255, 255);
	padding: 1rem 0 1rem 1rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.todoInfo {
	color: #747474;
	font-size: 11pt;
	display: flex;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 5px;
}

.delete{
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 1rem;

}


.todos{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.todoLogo{
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14pt;
}


.error {
	border: 2px solid #b54539;
}

::placeholder{
	font-size: 12pt;
	color: #c1c1c1;
}

.todoList{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 1rem;
	position: relative;
}
.todoList > h1 {
	font-size: 20pt;
	margin: 0;
}

.time {
	display: flex;
	gap: 10px;
}

.todoName{
	display: flex;
	gap: 5px;
	align-items: center;
}

.todoTime{
	display: flex;
	gap: 5px;
}

.time > input {
	width: 40%;
}

.closeFormButton{
	color: #323232;
	background-color: #F5F5F5;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 14pt;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #323232;
	transition: transform 0.5s;
	font-weight: bold;
}

.closeForm :hover{
	background-color: #db3f2e;
	color: white;
	border: 2px solid #F5F5F5;
	transform: rotate(270deg);
}
.closeForm {
	position: absolute;
	right: -10px;
	top: -10px;
	
}

.modal{
	position: relative;
}

.delete :hover {
	fill: #db3f2e;
}
