html, body {
	background-color: #F4F6F6;
	font-family: 'Montserrat';
	margin: 0;
}

h2{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 1rem 0 0;
}

input{
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    border: 1px solid #ebebeb;
    background-color: #F8F9F9;
	padding: 0.5rem;
}

input:focus-visible{
	outline: 2px solid black;
}

.fixed-container{
	display: flex;
	gap: 20px;
	align-items: top;
	justify-content: center;
	
}

.fixed-container > div{
	width: 470px;
}

.addNewTodoForm{
	background-color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 16px;
	position: absolute;
	left: 0;
	right: 0;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addNewTodoForm label {
	color: #797D7F;
}

button {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	border-radius: 4px;
	width: 200px;
	padding: 0.8rem;
	font-size: 12pt;
	background-color: #000000;
	color: white;
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	cursor: pointer;
	margin: 0 auto;
}


.todo {
	background-color: rgb(255, 255, 255);
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.todoInfo {
	color: #797D7F;
	font-size: 11pt;
	display: flex;
	gap: 4px;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

.delete{
	cursor: pointer;
}

.todoInfo h3{
	margin: 0;
}

.todoInfo {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 5px;
	
}

.todos{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.todoLogo{
	display: flex;
	align-items: center;
	gap: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
}

.todoLogo img{
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.error {
	border: 2px solid #b54539;
}

::placeholder{
	font-size: 12pt;
	color: #c1c1c1;
}

.todoList{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 1rem;
	position: relative;
}
.time {
	display: flex;
	gap: 10px;
}
.todoName{
	display: flex;
	gap: 5px;
	align-items: center;

}
.todoName > h3{
	font-size: 16pt;
	color: #000000;	
}